# Gateway Yapılandırması
PORT=3000

# Hedef Python ML Servis Adresi
# Lokal çalışmada: http://localhost:8000
# Docker Compose ile çalışmada: http://python-ml-api:8000
ML_API_URL=http://localhost:8000
